services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    environment:
      - TZ=Asia/Shanghai    # 上海时区
    # user: UID:GID # optional: Set custom user/group or uid/gid (已注释，以 root 运行)
    volumes:
      - /var/cache/ntfy:/var/cache/ntfy
      - /etc/ntfy:/etc/ntfy
    ports:
      - 18090:80
    restart: unless-stopped
